.App ul {
  position: relative;
  list-style-type: none;
  margin: 20px;
  padding: 20px;
}

.App ul li {
  display: inline;
  padding: 20px;
  justify-content: center;
}

.App {
  width: 500px;
}

* {
    font-family: 'Montserrat Alternates', sans-serif;
}

.App h1 {
  align-items: center;
  margin-top: 100px;
  letter-spacing: 10px;
}

.todoItem {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
  border-width: 3px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.todoItem .strikethrough {
  text-decoration: line-through;
}

.todoItem input{
  background: none;
  border: none; 
  float: left;
  cursor: pointer;
}

.todoItem span {
  cursor: pointer;
}

.todoItem #delete {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: black;
  float: right;
}

.todoGroup {
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.todoGenerator input {
  text-align: center; 
  padding: 7px;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 5px solid transparent;
  height: 30px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
  :focus{
      border: 2px solid #000;
      border-radius: 4px;
      transition: .5s;
  }
}

.todoGenerator button {
  align-items: center;
  margin-top: 15px;
  margin-left: 1px;
  cursor: pointer;
  padding: 7px;
  border-radius: 25px;
  font-size: 16px;
  background: black;
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: bolder;
  color: #dddddd;
  border: 2px solid transparent;
  height: 40px;
  width: 200px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.todoGenerator button:hover {
  background: rgb(95, 95, 95);
  color: black;
  transition: .4s;
}

.todoList {
  padding: 10em;
  color: black;
  border-radius: 20px;
  width: 500px;
  display: inline-block;
  justify-content: center;
  box-shadow: 0 0 0 2px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);

}




